/*------NavBar Desktop------*/
.logop{
    width: 50px;
    height: 52px;
    margin: auto;
    margin-left: 40px;
}
a.nav-link{
    color: black;
    padding-top: 13px;
    margin-right: 30px;
}
a.nav-link:hover{
    color: #8D99AE;
}
li.nav-item{
    margin-left: 160px;
}
li.n1{
    margin-left: 260px;
}
/*------NavBar Móvil------*/
@media only screen and (max-width: 1200px){
    ul{
        width: 100%;
    }
    li.nav-item, li.n1{
        margin-left: 0px;
    }

}

/*------Carrusel Desktop------*/
.imgcarr{
    width: 50%;
    height: 60vh;
    margin: auto;   
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    filter: invert(108%);
}
/*------Carrusel Móvil------*/
@media only screen and (max-width: 800px){
    .imgcarr{
        width: 100%;
        height: 35vh;
    }
    #sesion, #registro, #eliminar{
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 700px){
    .funciones div{
	display: block;
	margin: auto;
	width: 90%;
	margin-bottom: 5vh;
    }
    .btn:hover {
    	background-color: #8D99AE;
    	color: white;
    	border-color: #8D99AE; 
    }
}


.esp{
    height: 14vh;
}
.texto{
    font-family: Verdana;
}
.col-5{
    margin: 3vh 0px;
}
.card-header{
    text-align: center;
    font-family: Verdana;
}
p.t1{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: justify;
}

.imgs{
    width: 100px;
    height: 100px;
}
a.btn-outline-primary{
    border-color: #8D99AE;
    color: #8D99AE;
}
a.btn-outline-primary:hover{
    color: white;
    background-color: #8D99AE;
    border-color: #8D99AE;
}
#boton:active, #boton2:active{
    background-color: #8D99AE;
    color: white;
    border-color: #8D99AE; 
}
#boton:hover, #boton2:hover{
    background-color: #8D99AE;
    color: white;
    border-color: #8D99AE; 
}
div.text-end{
    padding: 40px;
}
